* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-primary);
 
}
:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --sytle-color: hsl(268, 45%, 41%);
}
p {
  color: red;
  text-align: end;
  padding: 1rem;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: aliceblue;
  border-bottom: 0.5px solid #374151;
}
header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}
header p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--sytle-color);
  line-height: 1%;
  font-weight: 400;
}
.container #dfPessoas form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
}
.container #dfPessoas label {
  display: flex;
  color: black;
  margin-top: 0.5rem;
  
}
 input {
  padding: 6px 6px;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 9px;
  display: inline-block;
}
#btn {
  background: var(--sytle-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 9px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  width: 3rem;
}
#btn:hover{
  background-color: #7a3791;
}
@media screen and (max-width: 980px) {
  form{
      width: 50%;
      display: flex;
      justify-content: center;
  }
  #dfPessoas{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .container #dfPessoas form {
    flex-direction: column;
    text-align: end;
    padding: 10px;

  }
  label {
    margin-top: 1rem;
  }
  #dfPessoas input {
    width: 100%;
    padding: 10px;
  }
  #btn {
    width: 100%;
    margin-top: 1rem;
  }
}
 
.table-wrapper{
    margin: 4rem;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: var(--sytle-color);
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: var(--sytle-color);
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  p {
    color: red;
    text-align: center;
  }
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

